
div.acak-soal {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    text-align: center;
}

div.acak-soal
span.acak {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: coral;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: chocolate;
    margin-bottom: 32px;

}

div.acak-soal
div.button {
    text-align: center;
    margin-top: 64px;
}

div.acak-soal
div.button button {
    margin: auto;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

p.judul {
	font-weight: bolder;
	font-size: xx-large;
}

div.table {
    display:table;
    width: 100%;
}

div.table-row {
    display: table-row;
}

div.table-column, div.table-cell {
    display: table-cell;
}

div.table-column.kanan {
    text-align: right;
}

div.icon {
    font-size: 90px;
}


html, body, div, button, span, input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

div#cont {
    width: 100%;
	height: 100%;
    max-width: 800px;
    margin: auto;
	position:relative;
	display:table;
}

div#cont
div.kiri {
	display:table-cell; 
	width: 15%; 
	min-width: 16px; 
	position: relative;
}

div#cont
div.kanan {
	display:table-cell;
	position:relative;
}


.hide {
    display: none;
}

.show {
    display: block;
}

button.normal {
    border-radius: 10px;
    background-color: rgb(25, 182, 25);
    border-color: darkgreen;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    color: white;
    border: 1px solid green;
    box-shadow: 0px 2px 0px 0px rgb(2, 138, 43);
}

button.normal:hover {
    background-color: darkgreen;
}

div.edit-pemain {
	text-align: center;
}

div.edit-pemain
p.judul {
	font-size: xx-large;
	font-weight: bold;
}

div.edit-user {
    display: table;
    box-sizing: border-box;
    width: 10%;
	height: 10%;
	margin: auto;
	/* margin-top: 16px; */
	font-size: medium;
}

div.edit-user 
div.input-cont {
    display: table-cell;
    width: 10%;
    padding: 0px;
	vertical-align: middle;
	text-align: left;	
}

div.edit-user 
div.input-cont
input {
    width:250px;
}


div.edit-user 
div.img-cont {
    display: table-cell;
    padding: 8px;
	vertical-align: middle;
	max-width: 16px;
}

div.edit-user 
div.img-cont
button {
    width: 64px;
    height:64px;
    text-align: center;
}

div.edit-user 
div.img-cont
button
img {
    width: 100%;
	margin: auto;
	/* max-width: 32px; */
}


/*Avatar*/
div.pages-edit-pemain-avatar {
    width: 100%;
    margin:auto;
    text-align: center;
}

/*img button*/
div.pages-edit-pemain-img-btn {
    text-align: center;
}

div.pages-edit-pemain-img-btn 
btn {
    width: 100%;
    margin: auto;
    text-align: center
}

div.pages-edit-pemain-img-btn 
img {
    width: 100%;
    margin: auto;
}
div.foto-avatar {
    border: none;
    border: 1px solid darkgray;
    border-radius: 16px;
    text-align: center;
    padding: 8px;
    margin-bottom: 12px;
}

div.foto-avatar.selected {
    border: 8px solid blue;
}

div.foto-avatar 
p.nama {
    font-weight: bold;
    margin-top: 0px;
}

div.foto-avatar p.nama,
div.foto-avatar p.score
{
    margin-bottom: 0px;
}

div.foto-avatar
p.score {
    margin-top:0px;
}

div.foto-avatar
img {
    max-width: 80px;
}

div.ha-comm-dialog {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
div.ha-comm-dialog 
div.content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    text-align: center;
}

/* The Close Button */
div.ha-comm-dialog 
span.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

div.ha-comm-dialog 
span.close:hover,
div.ha-comm-dialog 
span.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div.ha-comm-dialog 
button.ok {
    margin: auto;
}
div.ha-comm-grid {
    display:table;
    width: 100%;
}

div.ha-comm-grid
div.row {
    display: table-row;
}

div.ha-comm-grid
div.coll {
    display: table-cell;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
}
div.ha-comm-tree {
    margin: 8px;
}

div.ha-comm-tree
div.content {
    margin: 8px;
}
div.jml-pemain {
    position: absolute;
    text-align: center;
	width: 100%;
	top: 0px;
	left: 0px;
}

div.jml-pemain 
p.pilih
{
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}

div.jml-pemain 
span.jml
{
    color: black;
    font-size: xx-large;
}


div.jml-pemain 
button.jml {
    background-color: coral;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 32px;
    margin-left: 8px;
    margin-right: 8px;
}

div.jml-pemain 
button.jml:hover {
    background-color: chocolate;
}
div.pages-selesai {
    position: absolute;
    width: 100%;
	text-align:center;
	top:0px;
	left: 0px;
}

div.pages-selesai 
img.logo {
    margin-bottom: 32px;
    width: 92px;
}

div.pages-selesai 
p.permainan-selesai {
    font-weight: bolder;
    font-size: 32px;
}
div.pilih-avatar {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: white;
}

div.pilih-avatar 
div.grid-cont {
	margin: auto;
	max-width: 600px;
}


div.pilih-avatar 
p {
	font-size: xx-large;
	font-weight: bold;
}
div.pages-soal 
{
    /*width: 100%;*/
    position: absolute;
    top:8px;
	left: 8px;
	bottom: 8px;
	right: 8px;
}

div.pages-soal 
button.jawab {
    display: block;
    box-shadow: 0px 2px 0px 0px #aaa;
}

div.pages-soal 
div.soal-cont {
    min-height: 100px;
    margin-bottom: 32px;
}

div.pages-soal 
button.jawab {
    background-color: white;
    border-radius: 5px;
    margin-top:8px;
    border: 1px solid #999;
}

div.pages-soal 
button.jawab:hover {
    background-color: #eee;
}

div.pages-soal 
button.jawab.pilih {
    background-color:darkkhaki;
}
div.urutan-pemenang {
    position: relative;
    font-size: large;
    color: #444444;
    width: 50%;
    max-width: 300px;
    margin: auto;
    border: 1px solid;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

div.urutan-pemenang 
div.nama-score {
    vertical-align: middle;
}

div.urutan-pemenang 
p.nama {
    font-size: large;
    margin-bottom: 0px;
	color: black;
	font-weight: bold;
}

div.urutan-pemenang 
p.score {
    font-size: medium;
    margin-top:8px;
}

div.urutan-pemenang 
div.img {
    vertical-align: middle;
    text-align: right;
}

div.urutan-pemenang 
img {
    width: 48px;
    border-radius: 25%;
}
