
div.foto-avatar {
    border: none;
    border: 1px solid darkgray;
    border-radius: 16px;
    text-align: center;
    padding: 8px;
    margin-bottom: 12px;
}

div.foto-avatar.selected {
    border: 8px solid blue;
}

div.foto-avatar 
p.nama {
    font-weight: bold;
    margin-top: 0px;
}

div.foto-avatar p.nama,
div.foto-avatar p.score
{
    margin-bottom: 0px;
}

div.foto-avatar
p.score {
    margin-top:0px;
}

div.foto-avatar
img {
    max-width: 80px;
}
