
div.pages-selesai {
    position: absolute;
    width: 100%;
	text-align:center;
	top:0px;
	left: 0px;
}

div.pages-selesai 
img.logo {
    margin-bottom: 32px;
    width: 92px;
}

div.pages-selesai 
p.permainan-selesai {
    font-weight: bolder;
    font-size: 32px;
}