div.urutan-pemenang {
    position: relative;
    font-size: large;
    color: #444444;
    width: 50%;
    max-width: 300px;
    margin: auto;
    border: 1px solid;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

div.urutan-pemenang 
div.nama-score {
    vertical-align: middle;
}

div.urutan-pemenang 
p.nama {
    font-size: large;
    margin-bottom: 0px;
	color: black;
	font-weight: bold;
}

div.urutan-pemenang 
p.score {
    font-size: medium;
    margin-top:8px;
}

div.urutan-pemenang 
div.img {
    vertical-align: middle;
    text-align: right;
}

div.urutan-pemenang 
img {
    width: 48px;
    border-radius: 25%;
}
