
html, body, div {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: black;
	height: 100%;
}

button {
	position: relative;
	box-shadow: 4px 4px #333;
}

button:active {
	top:2px;
	left: 2px;
	box-shadow: none;
}

div.color-wheel {
	display: flex;
}

div.color-wheel div.b {
	height: 32px;
	flex-grow: 1;
	margin-left: 2px;
	margin-right: 2px;
}

div.tdl {
	max-width: 720px;
	margin: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
}

div.tdl div.header {
	display: flex;
	padding: 8px;
	padding-right: 12px;
	padding-bottom: 12px;
	background-color: #008000;
}

div.bayangan {
	height: 4px;
	background-color: black;
}

div.tdl div.header span.judul {
	flex-grow: 1;
	font-weight: bold;
	color: white;
	padding-top: 12px;
}

div.tdl div.header button {
	font-weight: bold;
	color: black;
	padding:8px;
}

div.tdl div.daftar-cont {
	flex-grow: 1;
	background-color: #008080;
	padding: 8px;
}


div.tdl div.daftar-cont div.item {
	padding: 8px;
	background-color: #008000;
	margin-bottom: 8px;
	margin-right: 6px;
	box-shadow: 4px 4px #333;
}

div.item p.desk {
	border: 1px solid yellow;
	margin: 0px;
	padding:8px;
	color: white;
}

div.item div.tombol-cont {
	padding: 8px;
	background-color: #008000;
	padding-left: 0px;
	padding-bottom: 0px;
	text-align: right;
}

div.item div.tombol-cont button {
	padding: 8px;
}

