div.bar {
	display: flex;
}

div.bar button.tutup {
	padding: 12px;
	padding-left: 15px;
	padding-right: 15px;
    margin-right: 8px;
    background-color: white;
    border: 1px solid #333;
    border-radius: 50%;
}

div.bar div.bar {
	flex-grow: 1;
	border-radius: 16px;
	border: 1px solid;
}

div.bar div.bar div.tahap {
	border-radius: 16px;
	width: 0%;
	background-color: darkcyan;
}