div.puluhan {
	font-size: large;
	text-align: center;
}

div.puluhan p {
	font-size: large;
	font-weight: bold;
}

div.puluhan
input#puluhan,
div.puluhan
input#satuan
 {
	border: 1px solid;
    border-radius: 5px;
    width: 42px;
    padding: 2px;
    text-align: center;
    /* width: min-content; */
    font-size: large;
}
