div.banyakan-tanda {
	width: 100%;
}

div.banyakan-tanda
p.judul {
	text-align: center;
	font-size: x-large;
	font-weight: bold;
}

div.banyakan-tanda
div.soal {
	display: flex;
}

div.banyakan-tanda div.jawaban {
	margin-top: 32px;
    display: flex;
}

div.banyakan-tanda div.jawaban button {
    padding: 12px;
    flex-grow: 1;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: x-large;
}

div.banyakan-tanda
div.angka.kiri,
div.banyakan-tanda
div.tanda,
div.banyakan-tanda 
div.angka.kanan
{
	flex-grow: 1;
	border: 1px solid;
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
    text-align: center;
	border-radius: 12px;
	font-size: x-large;
}

div.banyakan-tanda
div.kirim-cont {
	text-align: center;
}