html,
body {
	text-align: center;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: black;
}

canvas {
	padding: 0px;
	margin: 0px;
	position: absolute;
	box-sizing: border-box;
	background-color: white;
}